<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Construction is ultimate responsive construction html template which include 3 homepage demos.">
        <title>Construction - Ultimate Responsive Construction Template</title>
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

        <!--  construct Icon CSS -->
        <link rel="stylesheet" href="css/construct-icons.css">
        <!-- themify Icon CSS -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="css/animate.min.css">
        <!-- Elegant Icons CSS -->
        <link rel="stylesheet" href="css/elegant-line-icons.css">
        <!-- Bootsrtap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <!-- Slick Nav CSS -->
        <link rel="stylesheet" href="css/slicknav.min.css">
        <!-- Swipebox CSS -->
        <link rel="stylesheet" href="css/swipebox.min.css">
        
        <!-- Theme CSS -->
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body data-spy="scroll" data-target="#navbar" data-offset="60">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <header id="header" class="header dark-header hide-top header-bd double-header">
            <div class="header-top header-bd ptb-10">
                <div class="container">
                    <div class="col-xs-12 text-right xs-text-center">
                        <ul class="top-info display-inline-block">
                            <li><i class="ti-headphone-alt"></i> (102) 6666 8888</li>
                            <li><i class="ti-email"></i> <a href="mailto:info@domain.com">info@domain.com</a></li>
                        </ul>
                        <ul class="social-icon-white top-social hidden-xs display-inline-block">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-google"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-bottom ptb-10 pos-relative">
                <div class="container">
                    <div class="col-sm-3">
                        <div class="navbar-header">
                            <a href="#" class="brand"><img src="img/logo-light.png" alt="Construction"></a>
                        </div>
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <div class="pull-right">
                            <a href="#" class="b-nav-btn">Book Us</a>
                        </div>
                        <nav class="mainmenu pull-right">
                            <ul id="navi-menu">
                                <li class="current_page_item"><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home Default</a></li>
                                        <li><a href="index-dark.html">Home Dark</a></li>
                                        <li><a href="index-light.html">Home Light</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About us</a>
                                    <ul>
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="about-light.html">About Light</a></li>
                                        <li><a href="about-dark.html">About Dark</a></li>
                                    </ul>
                                </li>
                                <li><a href="service.html">Services</a>
                                    <ul>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="service-light.html">Service Light</a></li>
                                        <li><a href="service-dark.html">Service Dark</a></li>
                                    </ul>
                                </li>
                                <li><a href="project-3-col.html">Projects</a>
                                    <ul>
                                        <li><a href="project-3-col.html">Projects 3 Col</a></li>
                                        <li><a href="project-2-col.html">Projects 2 Col</a></li>
                                        <li><a href="project-details.html">Projects Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-sidebar-right.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-sidebar-right.html">Blog Sidebar Right</a></li>
                                        <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
                                        <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                        <li><a href="blog-single-right.html">Blog Single Right</a></li>
                                        <li><a href="blog-single-left.html">Blog Single Left</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact Us</a>
                                    <ul>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="contact-with-map.html">Contact With Map</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header> <!-- Header -->
        
        <section class="page-heading bg-img mt-78 height-500" style="background-image: url(img/about-hero-light.jpg)">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="hero-content">
                            <h2 class="fz-40 fw-8 mb-15">ABOUT CONSTRUCTION</h2>
                            <p class="fz-16">We offer free consulting and the best project management <br>for your ideas, 100% delivery guaranteed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Page Heading -->
        
        <section class="cta-section text-center bg-yellow ptb-40">
            <div class="container">
                <h2 class="text-white fz-18 no-margin display-inline-block">GET YOUR FREE CONSULTING AND ESTIMATE FOR YOUR PROJECT</h2>
                <a href="#" class="b-btn btn-white btn-border ml-15">Explore</a>
            </div>
        </section><!-- cta-section -->
        
        <section id="about" class="content-block padding bd-bottom">
            <div class="container">
              <div class="col-md-6">
                   <div class="bd-grey wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
                       <img src="img/about-bg-light.jpg" alt="Content Image" class="img-w1">
                   </div>
                </div>
               <div class="col-md-6 xs-padding">
                    <div class="padding-30 ptb-45 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <h2 class="mb-20">WE ARE THE EXPERT ON THIS FIELD <br>
                            BETTER BUILDING SOLUTIONS SINCE 1984.</h2>
                        <p class="fz-14">We are committed to building a sustainable future by fostering a collaborative spirit  that creates exceptional experiences balanced relationships and many enhances a community’s built environment.</p>
                        <a href="#" class="b-btn">Read More</a>
                    </div>
                </div>
            </div>
        </section><!-- about-block -->
        
        <section class="team-section padding bg-grey bd-bottom">
            <div class="container">
                <div class="section-heading mb-40">
                    <h2 class="mb-10">Experience Team Member</h2>
                </div>
                <div class="team-box-wrap">
                    <div class="col-sm-4 col-xs-6 xs-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="500ms">
                        <div class="team-member bd-grey">
                            <img src="img/team-1.jpg" alt="team-img" class="img-w1">
                            <div class="bg-white padding-30 ptb-25 text-center">
                                <h4 class="no-margin">Markus Smith</h4>
                                <p class="mb-10">CEO and founder of Construction ltd.</p>
                                <ul class="social-icon-black social-center">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-google"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 xs-padding wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                        <div class="team-member bd-grey">
                            <img src="img/team-2.jpg" alt="team-img" class="img-w1">
                            <div class="bg-white padding-30 ptb-25 text-center">
                                <h4 class="no-margin">Veera Pamela</h4>
                                <p class="mb-10">Construction engineer</p>
                                <ul class="social-icon-black social-center">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-google"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 xs-padding wow fadeInRight" data-wow-delay="0ms" data-wow-duration="2000ms">
                        <div class="team-member bd-grey">
                            <img src="img/team-3.jpg" alt="team-img" class="img-w1">
                            <div class="bg-white padding-30 ptb-25 text-center">
                                <h4 class="no-margin">Michel Duncan</h4>
                                <p class="mb-10">Vehicle park manager</p>
                                <ul class="social-icon-black social-center">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-google"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- team Block-->
        
        <section class="whyus-section padding bd-bottom">
			<div class="container">
			    <h2 class="mb-40 ml-15">Why We Are Best</h2>
				<ul class="services-wrap why-us-list">
					<li class="col-md-4 col-xs-6 ptb-15">
						<div class="service-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
							<i class="ti-check fz-24 text-yellow"></i>
							<h4 class="fw-7">We Are Responsible</h4>
							<p class="fz-13">A general term to describe buildings and other physical structures.</p>
							<a href="#" class="read-more fz-12 tt-u">Read More</a>
						</div>
					</li>
					<li class="col-md-4 col-xs-6 ptb-15">
						<div class="service-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
							<i class="ti-check fz-24 text-yellow"></i>
							<h4 class="fw-7">We Are Creative</h4>
							<p class="fz-13">The renovation process can usually be broken down into several processes:</p>
							<a href="#" class="read-more fz-12 tt-u">Read More</a>
						</div>
					</li>
					<li class="col-md-4 col-xs-6 ptb-15">
						<div class="service-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
							<i class="ti-check fz-24 text-yellow"></i>
							<h4 class="fw-7">We Have Best Team</h4>
							<p class="fz-13">The range of areas of expertise covered by the term consultant is wide</p>
							<a href="#" class="read-more fz-12 tt-u">Read More</a>
						</div>
					</li>
				</ul>
				
			</div>
			<img src="img/why-bg-light.jpg" alt="why us" class="img-w1">
		</section><!-- /.why us section -->

        <section class="testimonial-section bg-grey padding bd-bottom">
            <div class="container">
                <div class="section-heading pb-5 mb-40">
                    <h2>WHAT PEOPLE THINK ABOUT US</h2>
                </div>
                <div class="testi-carousel owl-nav-1 owl-carousel">
                    <div class="review-box padding-20 ptb-40 bg-grey bd">
                        <p class="fz-13">Construction delivers world-class engineering construction services. We are pioneers in the UAEinfrastructure industry. </p>
                        <h4 class="display-inline-block">ANGELINA ROSE</h4>
                        <ul class="rating display-inline-block">
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                        </ul>
                    </div>
                    <div class="review-box padding-20 ptb-40 bg-grey bd">
                        <p class="fz-13">Construction delivers world-class engineering construction services. We are pioneers in the UAEinfrastructure industry. </p>
                        <h4 class="display-inline-block">Oscar Aries Sanzes</h4>
                        <ul class="rating display-inline-block">
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                        </ul>
                    </div>
                    <div class="review-box padding-20 ptb-40 bg-grey bd">
                        <p class="fz-13">Construction delivers world-class engineering construction services. We are pioneers in the UAEinfrastructure industry. </p>
                        <h4 class="display-inline-block">ANGELINA ROSE</h4>
                        <ul class="rating display-inline-block">
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                        </ul>
                    </div>
                    <div class="review-box padding-20 ptb-40 bg-grey bd">
                        <p class="fz-13">Construction delivers world-class engineering construction services. We are pioneers in the UAEinfrastructure industry.</p>
                        <h4 class="display-inline-block">Jonathan Markus</h4>
                        <ul class="rating display-inline-block">
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- testimonial-section -->
        
         <div class="partner-block ptb-40">
            <div class="container">
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/1.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/2.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/3.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/4.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/5.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/6.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/7.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/8.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/9.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/10.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/11.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="img/12.png" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
            </div>
        </div><!-- partner block -->
        
        <section class="widget-section bd-top-dark padding bg-dark">
            <div class="container">
                <div class="col-sm-4 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <img class="mb-15" src="img/logo-light.png" alt="Construction">
                        <h4 class="text-light mb-25">Ultimate design for your websites</h4>
                        <p class="fz-13 mb-25 text-light">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.</p>
                    </div>
                </div><!-- widget 1 -->
                <div class="col-sm-5 col-xs-6 xs-padding">
                    <h4 class="text-white mb-40">Company navigation</h4>
                    <ul class="list-1 angel mb-20">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Interior Design</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Recent Projects</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Construction</a></li>
                            <li><a href="#">Building Renovation</a></li>
                        </ul>
                </div><!-- widget 2 -->
                <div class="col-sm-3 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <h4 class="text-white mb-30">Construction Office</h4>
                        <ul class="addr-info footer-addr text-light fz-14">
                            <li>Tottenh Road, London, England.</li>
                            <li>(102) 6666 8888</li>
                            <li>info@thememove.com</li>
                            <li>Mon - Sat: 9:00 - 18:00</li>
                        </ul>
                    </div>
                </div><!-- widget 3 -->
            </div>
        </section><!-- widget-section -->
        
        <footer class="footer-section bg-dark text-center bd-top-dark ptb-40 tt-u">
            <div class="container">
                <p class="no-margin fz-13 text-light">&copy; Copyright 2017 Crack Themes - All Rights Reserved</p>
            </div>
        </footer><!--  footer section -->

        <a data-scroll href="#header" id="scroll-top" class="scroll-to-top"><i class="ti-angle-up"></i></a>

        <!-- All Scripts -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/vendor/waypoints.min.js"></script>
        <script src="js/vendor/wow.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/jquery.nicescroll.min.js"></script>
        <script src="js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="js/vendor/owl.carousel.min.js"></script>
        <script src="js/vendor/jquery.isotope.v3.0.2.js"></script>
        <script src="js/vendor/smooth-scroll.min.js"></script>
        <script src="js/vendor/jquery.counterup.min.js"></script>
        <script src="js/vendor/jquery.swipebox.min.js"></script>
        <script src="js/vendor/jquery.hoverdir.js"></script>
        <script src="js/vendor/jquery.slicknav.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>