<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Construction is ultimate responsive construction html template which include 3 homepage demos.">
        <title>Construction - Ultimate Responsive Construction Template</title>
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

        <!--  construct Icon CSS -->
        <link rel="stylesheet" href="css/construct-icons.css">
        <!-- themify Icon CSS -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="css/animate.min.css">
        <!-- Elegant Icons CSS -->
        <link rel="stylesheet" href="css/elegant-line-icons.css">
        <!-- Bootsrtap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <!-- Slick Nav CSS -->
        <link rel="stylesheet" href="css/slicknav.min.css">
        <!-- Swipebox CSS -->
        <link rel="stylesheet" href="css/swipebox.min.css">
        
        <!-- Theme CSS -->
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body data-spy="scroll" data-target="#navbar" data-offset="60">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <header id="header" class="header hide-top header-bd double-header">
            <div class="header-top header-bd ptb-10">
                <div class="container">
                    <div class="col-xs-12 text-right xs-text-center">
                        <ul class="top-info display-inline-block">
                            <li><i class="ti-headphone-alt"></i> (102) 6666 8888</li>
                            <li><i class="ti-email"></i> <a href="mailto:info@domain.com">info@domain.com</a></li>
                        </ul>
                        <ul class="social-icon-white top-social hidden-xs display-inline-block">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-google"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-bottom ptb-10 pos-relative">
                <div class="container">
                    <div class="col-sm-3">
                        <div class="navbar-header">
                            <a href="#" class="brand"><img src="img/logo-light.png" alt="Construction"></a>
                        </div>
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <div class="pull-right">
                            <a href="#" class="b-nav-btn">Book Us</a>
                        </div>
                        <nav class="mainmenu pull-right">
                            <ul id="navi-menu">
                                <li class="current_page_item"><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home Default</a></li>
                                        <li><a href="index-dark.html">Home Dark</a></li>
                                        <li><a href="index-light.html">Home Light</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About us</a>
                                    <ul>
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="about-light.html">About Light</a></li>
                                        <li><a href="about-dark.html">About Dark</a></li>
                                    </ul>
                                </li>
                                <li><a href="service.html">Services</a>
                                    <ul>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="service-light.html">Service Light</a></li>
                                        <li><a href="service-dark.html">Service Dark</a></li>
                                    </ul>
                                </li>
                                <li><a href="project-3-col.html">Projects</a>
                                    <ul>
                                        <li><a href="project-3-col.html">Projects 3 Col</a></li>
                                        <li><a href="project-2-col.html">Projects 2 Col</a></li>
                                        <li><a href="project-details.html">Projects Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-sidebar-right.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-sidebar-right.html">Blog Sidebar Right</a></li>
                                        <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
                                        <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                        <li><a href="blog-single-right.html">Blog Single Right</a></li>
                                        <li><a href="blog-single-left.html">Blog Single Left</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact Us</a>
                                    <ul>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="contact-with-map.html">Contact With Map</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header> <!-- Header -->
        
        <section class="page-heading bg-img height-500" style="background-image: url(img/news-hero.jpg)">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="hero-content">
                            <h2 class="fz-40 text-white fw-8 mb-15">Blog Single Post</h2>
                            <p class="text-white fz-16">We offer free consulting and the best project management <br>for your ideas, 100% delivery guaranteed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Page Header -->

        <section class="blog-posts-section padding">
            <div class="container">
                <div class="col-sm-8 xs-padding">
                    <div class="blog-details">
                        <img src="img/blog-single.jpg" alt="" class="img-w1 mb-25">
                        <h2 class="mb-20 fw-6">Advice for stirring your online community</h2>
                        <div class="meta-info mb-25">
                            <span>
                                <i class="ti-user fz-18"></i> WRITTEN BY <a href="#">David Cameroon</a>
                            </span>
                            <span>
                                <i class="ti-bookmark fz-18"></i> TAGGED AS <a href="#">Wordpress Development</a>
                            </span>
                        </div><!-- blog-details -->
                        <p>Co-working SpaceTeam fund big data prototype prototype long shadow latte big data. Innovate affordances personas user centered design paradigm user centered design innovate quantitative vs. qualitative pivot thought leader viral paradigm cortado affordances.</p>
                        <h3>An additional point</h3>
                        <p>Prototype intuitive intuitive thought leader personas parallax paradigm long shadow engaging unicorn SpaceTeam fund ideate paradigm. Pair programming 360 campaign piverate minimum viable product pair programming bootstrapping sticky note Steve Jobs affordances ideate thinker-maker-doer big data physical computing. Workflow driven innovate long shadow SpaceTeam grok pivot.</p>
                        <blockquote>
                            <p class="no-margin fz-16 fw-6">“ We want everyone to have a great experience building their website — and with Construction they get just that”</p>
                        </blockquote>
                        <p>There are still many people who like to share the details of their days. They may post twenty or thirty times a day, detailing when they ate lunch and when they headed home from work. On the other hand there are bloggers who give almost no detail about their lives, but write instead about a hobby or interest of theirs. They may dedicate their blog to something they are passionate about.</p>
                        <div class="social-share-wrap">
                            <span class="fz-16 tt-u text-black fw-6">Share This Article</span>
                            <ul class="share-icon">
                                <li><a href="#"><i class="ti-facebook"></i> Facebook</a></li>
                                <li><a href="#"><i class="ti-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="ti-google"></i> Google+</a></li>
                            </ul>
                        </div><!-- social-share-wrap -->
                        <div class="comments-wrap">
                            <h3 class="mb-30 fw-6">3 Comments</h3>
                            <div class="comment-list mb-40">
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-left">
                                            <img class="media-object bdrs-50" src="img/comment-1.png" alt="Profile Thumb">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Abigail Roswell</a></h4>
                                            <a href="#" class="coment-date">3 April, 2017</a> <a href="#" class="reply">Reply</a>
                                            <p class="fz-13">User engagement and experience has become a major focus for any web-based service in recent years. It's our challenges and obstacles that give us layers of depth and make us interesting.</p>
                                            <div class="media">
                                                <div class="media-left">
                                                    <img class="media-object bdrs-50" src="img/comment-2.png" alt="Profile Thumb">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Angelina Rose</a></h4>
                                                    <a href="#" class="coment-date">3 April, 2017</a> <a href="#" class="reply">Reply</a>
                                                    <p class="fz-13">Affordances food-truck SpaceTeam unicorn disrupt integrate viral pair programming big data pitch deck intuitive intuitive prototype long shadow. Responsive hacker intuitive driven.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left">
                                            <img class="media-object bdrs-50" src="img/comment-3.png" alt="Profile Thumb">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Kelly Dewitt</a></h4>
                                            <a href="#" class="coment-date">3 April, 2017</a> <a href="#" class="reply">Reply</a>
                                            <p class="fz-13">Responsive hacker intuitive driven waterfall is so 2000 and late intuitive cortado bootstrapping venture capital. Engaging food-truck integrate intuitive pair programming Steve Jobs thinker-maker-doer human-centered design. Prototype intuitive intuitive thought leader personas parallax paradigm.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- /.comment-list -->
                            <form class="form-horizontal coment-form">
                                <h3 class="mb-30 fw-6">Leave us a Comment</h3>
                                <div class="form-group">
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    </div>
                                    <div class="col-sm-4 col-xs-12 website">
                                        <input type="text" class="form-control" id="website" placeholder="Website">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea class="form-control" rows="4" placeholder="Comment"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="b-btn">Submit Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.comments-wrap -->
                    </div>
                </div><!-- Blog Wrapper -->
                <div class="col-sm-4 xs-padding">
                    <div class="sidebar">
                        <div class="sidebar-widget mb-30">
                            <h3 class="mb-20">Search</h3>
                            <form action="" class="search-form">
                                <input type="text" class="form-control" placeholder="Type here">
                                <button class="search-btn" type="button"><i class="ti-search"></i></button>
                            </form>
                        </div><!-- widget 1 -->
                        <div class="sidebar-widget mb-30">
                            <h3 class="mb-20">Category</h3>
                            <ul class="cat-list">
                                <li><a href="#">Environment</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Freelance</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div><!-- widget 2 -->
                        <div class="sidebar-widget mb-30">
                            <h3 class="mb-20">Recent Post</h3>
                            <ul class="recent-post">
                                <li class="mb-10">
                                    <h4 class="fw-5 fz-14 no-margin"><a href="#">A thoguhtful blockquote post on life</a></h4>
                                    <span class="fz-13 text-grey">September 23, 2015</span>
                                </li>
                                <li class="mb-10">
                                    <h4 class="fw-5 fz-14 no-margin"><a href="#">Simple image post for starters</a></h4>
                                    <span class="fz-13 text-grey">September 23, 2015</span>
                                </li>
                                <li class="mb-10">
                                    <h4 class="fw-5 fz-14 no-margin"><a href="#">Showcase blog posts in a classic sidebar.</a></h4>
                                    <span class="fz-13 text-grey">September 23, 2015</span>
                                </li>
                            </ul>
                        </div><!-- widget 3 -->
                        <div class="sidebar-widget mb-30">
                            <h3 class="mb-20">Tags</h3>
                            <ul class="tag-list">
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Startup</a></li>
                                <li><a href="#">Environment</a></li>
                                <li><a href="#">Life</a></li>
                                <li><a href="#">Tech</a></li>
                                <li><a href="#">Interface</a></li>
                                <li><a href="#">Tourism</a></li>
                            </ul>
                        </div><!-- widget 3 -->
                    </div>
                </div><!-- sidebar -->
            </div>
        </section><!-- blog-posts-section -->

        <section class="cta-section text-center bg-yellow ptb-40">
            <div class="container">
                <h2 class="text-white fz-18 no-margin display-inline-block">GET YOUR FREE CONSULTING AND ESTIMATE FOR YOUR PROJECT</h2>
                <a href="#" class="b-btn btn-white btn-border ml-15">Explore</a>
            </div>
        </section><!-- cta-section -->
        
        <section class="widget-section bd-top-dark padding bg-dark">
            <div class="container">
                <div class="col-sm-4 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <img class="mb-15" src="img/logo-light.png" alt="Construction">
                        <h4 class="text-light mb-25">Ultimate design for your websites</h4>
                        <p class="fz-13 mb-25 text-light">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.</p>
                    </div>
                </div><!-- widget 1 -->
                <div class="col-sm-5 col-xs-6 xs-padding">
                    <h4 class="text-white mb-40">Company navigation</h4>
                    <ul class="list-1 angel mb-20">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Interior Design</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Recent Projects</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Construction</a></li>
                            <li><a href="#">Building Renovation</a></li>
                        </ul>
                </div><!-- widget 2 -->
                <div class="col-sm-3 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <h4 class="text-white mb-30">Construction Office</h4>
                        <ul class="addr-info footer-addr text-light fz-14">
                            <li>Tottenh Road, London, England.</li>
                            <li>(102) 6666 8888</li>
                            <li>info@thememove.com</li>
                            <li>Mon - Sat: 9:00 - 18:00</li>
                        </ul>
                    </div>
                </div><!-- widget 3 -->
            </div>
        </section><!-- widget-section -->
        
        <footer class="footer-section bg-dark text-center bd-top-dark ptb-40 tt-u">
            <div class="container">
                <p class="no-margin fz-13 text-light">&copy; Copyright 2017 Crack Themes - All Rights Reserved</p>
            </div>
        </footer><!--  footer section -->

        <a data-scroll href="#header" id="scroll-top" class="scroll-to-top"><i class="ti-angle-up"></i></a>

        <!-- All Scripts -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/vendor/waypoints.min.js"></script>
        <script src="js/vendor/wow.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/jquery.nicescroll.min.js"></script>
        <script src="js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="js/vendor/owl.carousel.min.js"></script>
        <script src="js/vendor/jquery.isotope.v3.0.2.js"></script>
        <script src="js/vendor/smooth-scroll.min.js"></script>
        <script src="js/vendor/jquery.counterup.min.js"></script>
        <script src="js/vendor/jquery.swipebox.min.js"></script>
        <script src="js/vendor/jquery.hoverdir.js"></script>
        <script src="js/vendor/jquery.slicknav.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>