{% load static%}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Construction is ultimate responsive construction html template which include 3 homepage demos.">
        <title>ТУРАКУРГАНСКИЙ МЕХАНИЧЕСКИЙ ЗАВОД ПО ЛИТЬЁ</title>
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

        <!--  construct Icon CSS -->
        <link rel="stylesheet" href="{% static 'css/construct-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/elegant-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/swipebox.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
    </head>
    <body data-spy="scroll" data-target="#navbar" data-offset="60">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <header id="header" class="header hide-top header-bd double-header">
            <div class="header-top header-bd ptb-10">
                <div class="container">
                    <div class="col-xs-12 text-right xs-text-center">
                        <ul class="top-info display-inline-block">
                            <li><i class="ti-headphone-alt"></i> (102) 6666 8888</li>
                            <li><i class="ti-email"></i> <a href="mailto:info@domain.com">info@domain.com</a></li>
                        </ul>
                        <ul class="social-icon-white top-social hidden-xs display-inline-block">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-google"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-bottom ptb-10 pos-relative">
                <div class="container">
                    <div class="col-sm-3">
                        <div class="navbar-header">
                            <a href="#" class="brand"><img src="{% static 'img/logo-light.png' %}" alt="Construction"></a>
                        </div>
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <div class="pull-right">
                        </div>
                        <nav class="mainmenu pull-right">
                            <ul id="navi-menu">
                                <li class="current_page_item"><a href="{% url 'index' %}">Главная</a>
                                </li>
                                <li><a href="{% url 'about' %}">О нас</a>
                                </li>
                                <li><a href="{% url 'services' %}">Галерея</a>
                                </li>
                                <li><a href="{% url 'projects' %}">Продукты</a>
                                </li>
                                <li><a href="{% url 'blogs' %}">Новости</a>
                                </li>
                                <li><a href="{% url 'contact' %}">Связываться с нами</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header> <!-- Header -->
        
        <section class="page-heading bg-img height-500" style="background-image: url({{bg.img.url}})">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="hero-content">
                            <h2 class="fz-40 text-white fw-8 mb-15">СВЯЖИСЬ С НАМИ</h2>
                            <p class="text-white fz-16">Мы предлагаем бесплатную консультацию и лучшее управление<br>проектами
                                для ваших идей 100% гарантия доставки.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Page Heading -->
        
        <section class="contact-wrapper padding bg-grey bd-bottom">
            <div class="container">
                <div class="col-sm-6 xs-padding">
                    <h2 class="mb-25">Давайте поговорим о вашем заказе</h2>
                    <p class="mb-30">Позвоните нам или зайдите в любое время, мы постараемся ответить на все  <br> запросы в течение 24 часов в рабочие дни.</p>
                    <p class="mb-30 fz-16">{{info.timetable}}</p>
                    <p class="mb-30"><strong class="fw-7 text-black">ПОСЕТИТЕ НАМ : </strong><br>{{info.location}}</p>
                    <p>
                        <strong class="fw-7 text-black">Тел Узб: </strong>{{info.phone_uz}} <br>
                        <strong class="fw-7 text-black">Тел Рос: </strong>{{info.phone_ru}}<br>
                        <strong class="fw-7 text-black">EMAIL: </strong>{{info.email}}
                    </p>
                </div><!-- contact Info -->
                <div class="col-sm-6 xs-padding">
                    <h2 class="mb-25">НАПИШИТЕ НАМ</h2>
                    <p>Посетите нам в Узбекистан или свяжитесь с нами через форму ниже. <br> чтобы побольше рассказать о вашем продукте или идее.</p>
                    <div class="cf-wrapper">
                        <form action="{% url 'add-contact' %}" method="post" id="ajax_form" class="form-horizontal">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-sm-6 xs-padding">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Имя" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" id="phone_number" name="phone_number" class="form-control" placeholder="Телефонный номер" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" id="subject" name="subject" class="form-control" placeholder="Тема" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <textarea id="message" name="message" cols="30" rows="5" class="form-control" placeholder="Сообщение" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 align-center">
                                    <button id="submit" class="b-btn" type="submit">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- contact form -->
            </div>
        </section>
        
        
        <section class="cta-section text-center bg-yellow ptb-40">
            <div class="container">
                <h2 class="text-white fz-18 no-margin display-inline-block">ПОЛУЧИТЕ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ И СМЕТУ ДЛЯ ВАШЕГО ПРОЕКТА</h2>
                <a href="{% url 'contact' %}" class="b-btn btn-white btn-border ml-15">Связаться</a>
            </div>
        </section><!-- cta-section -->
        
		<section class="widget-section bd-top-dark padding bg-dark">
            <div class="container">
                <div class="col-sm-4 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <img class="mb-15" src="{{info.logo.url}}" alt="Construction">
                        <h4 class="text-light mb-25">Превосходный продукт для вашего строительства</h4>
                        <p class="fz-13 mb-25 text-light">Позвоните нам или зайдите в любое время, мы постараемся ответить на все запросы в течении 24 часов в рабочих дней.</p>
                    </div>
                </div><!-- widget 1 -->
                <div class="col-sm-5 col-xs-6 xs-padding">
                    <h4 class="text-white mb-40">Навигация по компании</h4>
                    <ul class="list-1 angel mb-20">
                            <li><a href="{% url 'index' %}">Главная</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                            <li><a href="{% url 'projects' %}">Недавние Проекты</a></li>
                            <li><a href="{% url 'services' %}"> СЕРВИСЫ</a></li>
                            <li><a href="{% url 'blogs' %}">НОВОСТИ</a></li>
                            <li><a href="{% url 'contact' %}"> СВЯЗЫВАТЬСЯ С НАМИ</a></li>
                        </ul>
                </div><!-- widget 2 -->
                <div class="col-sm-3 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <h4 class="text-white mb-30">{{info.name}}</h4>
                        <ul class="addr-info footer-addr text-light fz-14">
                            <li>{{info.location}}</li>
                            <li>{{info.phone_uz}}</li>
                            <li>{{info.phone_ru}}</li>
                            <li>{{info.email}}</li>
                            <li>{{info.timetable}}</li>
                        </ul>
                    </div>
                </div><!-- widget 3 -->
            </div>
        </section><!-- widget-section -->
		
		<footer class="footer-section bg-dark text-center bd-top-dark ptb-40 tt-u">
            <div class="container">
                <p class="no-margin fz-13 text-light">&copy; Copyright 2024 - All Rights Reserved</p>
            </div>
        </footer><!--  footer section -->

        <a data-scroll href="#header" id="scroll-top" class="scroll-to-top"><i class="ti-angle-up"></i></a>
        <!-- All Scripts -->
        <script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
        <script src="{% static "js/vendor/waypoints.min.js" %}"></script>
        <script src="{% static "js/vendor/wow.min.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
        <script src="{% static "js/vendor/jquery.nicescroll.min.js" %}"></script>
        <script src="{% static "js/vendor/imagesloaded.pkgd.min.js" %}"></script>
        <script src="{% static "js/vendor/owl.carousel.min.js" %}"></script>
        <script src="{% static "js/vendor/jquery.isotope.v3.0.2.js" %}"></script>
        <script src="{% static "js/vendor/smooth-scroll.min.js" %}"></script>
        <script src="{% static "js/vendor/jquery.counterup.min.js" %}"></script>
        <script src="{% static "js/vendor/jquery.swipebox.min.js" %}"></script>
        <script src="{% static "js/vendor/jquery.hoverdir.js" %}"></script>
        <script src="{% static "js/vendor/jquery.slicknav.min.js" %}"></script>
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/vendor/main.js' %}"></script>
    </body>
</html>
