{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Construction is ultimate responsive construction html template which include 3 homepage demos.">
        <title>Construction - Ultimate Responsive Construction Template</title>
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

        <!--  construct Icon CSS -->
        <link rel="stylesheet" href="{% static 'css/construct-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/elegant-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/swipebox.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body data-spy="scroll" data-target="#navbar" data-offset="60">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id='preloader' >
            <div class='loader' >
                <img src="{% static 'img/preloader.svg' %}" width="60" alt="">
            </div>
        </div><!-- Preloader -->
        
        <header id="header" class="header header-bd double-header">
            <div class="header-top header-bd ptb-10">
                <div class="container">
                    <div class="col-xs-12 text-right xs-text-center">
                        <ul class="top-info display-inline-block">
                            <li><i class="ti-headphone-alt"></i> (102) 6666 8888</li>
                            <li><i class="ti-email"></i> <a href="mailto:info@domain.com">info@domain.com</a></li>
                        </ul>
                        <ul class="social-icon-white top-social hidden-xs display-inline-block">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-google"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-bottom ptb-10 pos-relative">
                <div class="container">
                    <div class="col-sm-3">
                        <div class="navbar-header">
                            <a href="#" class="brand"><img src="{% static 'img/logo-light.png' %}" alt="Construction"></a>
                        </div>
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <div class="pull-right">
                            <a href="#" class="b-nav-btn">Book Us</a>
                        </div>
                        <nav class="mainmenu pull-right">
                            <ul id="navi-menu">
                                <li class="current_page_item"><a href="{% url 'index' %}">Home</a>
                                    <ul>
                                        <li><a href="{% url 'index' %}">Home Default</a></li>
                                        <li><a href="{% url 'index-dark' %}">Home Dark</a></li>
                                        <li><a href="index-light.html">Home Light</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About us</a>
                                    <ul>
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="about-light.html">About Light</a></li>
                                        <li><a href="about-dark.html">About Dark</a></li>
                                    </ul>
                                </li>
                                <li><a href="service.html">Services</a>
                                    <ul>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="service-light.html">Service Light</a></li>
                                        <li><a href="service-dark.html">Service Dark</a></li>
                                    </ul>
                                </li>
                                <li><a href="project-3-col.html">Projects</a>
                                    <ul>
                                        <li><a href="project-3-col.html">Projects 3 Col</a></li>
                                        <li><a href="project-2-col.html">Projects 2 Col</a></li>
                                        <li><a href="project-details.html">Projects Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-sidebar-right.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-sidebar-right.html">Blog Sidebar Right</a></li>
                                        <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
                                        <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                        <li><a href="blog-single-right.html">Blog Single Right</a></li>
                                        <li><a href="blog-single-left.html">Blog Single Left</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact Us</a>
                                    <ul>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="contact-with-map.html">Contact With Map</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header> <!-- Header -->
        
        <section class="slider-section">
            <div class="main-slider-2 owl-carousel owl-nav-3 owl-dots-1">
                <div class="slide-item bg-img height-670" style="background-image: url({% static 'img/slide-4.jpg' %})">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="slider-content text-center">
                                    <h1 class="fz-60 text-white fw-8 tt-u">Build Your Dream</h1>
                                    <p class="text-white mb-20 xs-br-none fz-16">We offer free consulting and the best project management <br>for your ideas, 100% delivery guaranteed.</p>
                                    <div class="btn-group-left">
                                        <a href="#" class="b-btn">Learn More</a>
                                        <a href="#" class="b-btn">Get It Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item bg-img height-670" style="background-image: url({% static 'img/slide-5.jpg' %})">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="slider-content text-center">
                                    <h1 class="fz-60 text-white fw-8 tt-u">Build Your Dream</h1>
                                    <p class="text-white mb-20 xs-br-none fz-16">We offer free consulting and the best project management <br>for your ideas, 100% delivery guaranteed.</p>
                                    <div class="btn-group-left">
                                        <a href="#" class="b-btn">Learn More</a>
                                        <a href="#" class="b-btn">Get It Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item bg-img height-670" style="background-image: url({% static 'img/slide-6.jpg' %})">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="slider-content text-center">
                                    <h1 class="fz-60 text-white fw-8 tt-u">Build Your Dream</h1>
                                    <p class="text-white mb-20 xs-br-none fz-16">We offer free consulting and the best project management <br>for your ideas, 100% delivery guaranteed.</p>
                                    <div class="btn-group-left">
                                        <a href="#" class="b-btn">Learn More</a>
                                        <a href="#" class="b-btn">Get It Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- slider-section -->
        
        <section class="cta-section text-center bg-yellow ptb-40">
            <div class="container">
                <h2 class="text-white fz-18 fw-7 display-inline-block">GET YOUR FREE CONSULTING AND ESTIMATE FOR YOUR PROJECT</h2>
                <a href="#" class="b-btn btn-white btn-border ml-15">Explore</a>
            </div>
        </section><!-- cta-section -->
        
        <section class="promo-block padding bd-bottom bg-dark">
            <div class="container">
                <div class="promo-wrapper">
                    <div class="col-sm-4 col-xs-6 xs-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="article-box">
                            <img src="{% static 'img/promo-1.jpg' %}" class="img-w1" alt="Blog-image">
                            <div class="entry-content mt-15">
                                <h4 class="fw-6 text-white">Building Engineering</h4>
                                <p class="fz-13 text-light">Building services engineers are responsible for the design, installation, operation and monitoring of the mechanical,</p>
                                <a href="" class="b-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 xs-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="article-box">
                            <img src="{% static 'img/promo-2.jpg' %}" class="img-w1" alt="Blog-image">
                            <div class="entry-content mt-15">
                                <h4 class="fw-6 text-white">Architecture</h4>
                                <p class="fz-13 text-light">Architecture is both the process and the product of planning designing and constructing buildings and other physical structures.</p>
                                <a href="" class="b-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 xs-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="article-box">
                            <img src="{% static 'img/promo-3.jpg' %}" class="img-w1" alt="Blog-image">
                            <div class="entry-content mt-15">
                                <h4 class="fw-6 text-white">Preconstruction</h4>
                                <p class="fz-13 text-light">services are used in planning a construction project before the actual construction begins. services are often referred to as or precon.</p>
                                <a href="" class="b-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- promo section -->
        
        <section class="service-section bg-grey padding bd-bottom">
            <div class="container">
                <ul class="services-wrap">
                    <li class="col-md-4 col-xs-6 ptb-15 wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="service-box">
                            <i class="ct ct-construct-2 fz-60">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span>
                            </i>
                            <h4 class="fw-7">ARCHITECTURE</h4>
                            <p class="fz-13">A general term to describe buildings and other physical structures.</p>
                            <a href="#" class="read-more fz-12 tt-u">Read More</a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-6 ptb-15 wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="service-box">
                            <i class="ct ct-loader fz-60">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
                            </i>
                            <h4 class="fw-7">BUILDING RENOVATION</h4>
                            <p class="fz-13">The renovation process can usually be broken down into several processes:</p>
                            <a href="#" class="read-more fz-12 tt-u">Read More</a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-6 ptb-15 wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="service-box">
                            <i class="ct ct-technology fz-60">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span>
                            </i>
                            <h4 class="fw-7">CONSULTING</h4>
                            <p class="fz-13">The range of areas of expertise covered by the term consultant is wide</p>
                            <a href="#" class="read-more fz-12 tt-u">Read More</a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-6 ptb-15 wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="service-box">
                            <i class="ct ct-construct fz-60">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span>
                            </i>
                            <h4 class="fw-7">CONSTRUCTION</h4>
                            <p class="fz-13">Construction is the process of constructing a building or infrastructure</p>
                            <a href="#" class="read-more fz-12 tt-u">Read More</a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-6 ptb-15 wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="service-box">
                            <i class="ct ct-construct-3 fz-60">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                            </i>
                            <h4 class="fw-7">INTERIOR DESIGN</h4>
                            <p class="fz-13">Interior design is the art and science of enhancing the interiors. </p>
                            <a href="#" class="read-more fz-12 tt-u">Read More</a>
                        </div>
                    </li>
                    <li class="col-md-4 col-xs-6 ptb-15 wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="service-box">
                            <i class="ct ct-crane fz-60">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span>
                            </i>
                            <h4 class="fw-7">CONCRETE TRANSPORT</h4>
                            <p class="fz-13">A variant concrete transportation is the concrete or cement mixing trailer.</p>
                            <a href="#" class="read-more fz-12 tt-u">Read More</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section><!-- /.service section -->

        <section class="content-block pos-relative padding bg-dark bd-bottom">
            <div class="bg-img-wrap wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
                <div class="bg-img atts-scroll" style="background-image: url({% static 'img/why-bg.jpg' %});"></div>
            </div>
            <div class="container">
                <div class="col-sm-6 col-sm-offset-6 xs-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                    <div class="padding-30">
                        <h2 class="mb-20 fw-7 text-white xs-br-none">THE RESONS WHY YOU SHOULD <br>CHOOSE OUR COMPANY</h2>
                        <p class="mb-20 text-light">Construction personnel participate in ethics training as part of our best practices program, and each employee is provided with a skill set that helps them make the best decisions.</p>
                        <ul class="list-1 check fz-14 text-light mb-20">
                            <li>We Are Creative.</li>
                            <li>Honest And Dependable.</li>
                            <li>Water Wells 14 Jully</li>
                            <li>We Are Always Improving.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- content-block -->
		
        <section class="portfoio-section bd-bottom padding">
            <div class="container">
                <div class="row mb-40">
                    <div class="col-sm-6 xs-padding">
                        <h2 class="fw-7">CONSTRUCTION RECENT PROJECTS</h2>
                    </div>
                    <div class="col-sm-6 xs-padding">
                        <ul class="filter-menu text-right xs-text-center">
                            <li class="active" data-filter="*">All Projects</li>
                            <li data-filter=".architecture"> Architecture</li>
                            <li data-filter=".construction"> Construction</li>
                            <li data-filter=".interior"> Interior Design</li>
                        </ul><!-- /.filter-menu -->
                    </div>
                </div>
                <div class="portfolio-items filter-items img-w1 row">
                    <div class="col-sm-4 col-xs-6 single-item padding-10 architecture">
                        <div class="portfolio-box">
                            <img class="img-w1" src="{% static 'img/project-1.jpg' %}" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell padding-15">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 single-item padding-10 construction">
                        <div class="portfolio-box">
                            <img class="img-w1" src="{% static 'img/project-2.jpg' %}" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell padding-15">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block bdrs-3 padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 single-item padding-10 architecture">
                        <div class="portfolio-box">
                            <img class="img-w1" src="{% static 'img/project-3.jpg' %}" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell padding-15">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block bdrs-3 padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 single-item padding-10 construction">
                        <div class="portfolio-box">
                            <img class="img-w1" src="{% static 'img/project-4.jpg' %}" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell padding-15">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block bdrs-3 padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 single-item padding-10 architecture">
                        <div class="portfolio-box">
                            <img class="img-w1" src="{% static 'img/project-5.jpg' %}" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell padding-15">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block bdrs-3 padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 single-item padding-10 interior">
                        <div class="portfolio-box">
                            <img class="img-w1" src="{% static 'img/project-6.jpg' %}" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell padding-15">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block bdrs-3 padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- portfolio-section -->
        
        <section class="counter-section ptb-140 bg-img" style="background-image: url({% static 'img/counter-bg.jpg' %});">
            <div class="container">
                <div class="col-sm-3 col-xs-6 xs-padding">
                    <div class="counter-box">
                        <h3 class="fz-35 fw-7 text-yellow"><span class="counter">3468</span>+</h3>
                        <h4 class="text-white fw-7 no-margin">Project Finished</h4>
                    </div>
                </div><!-- counter 1 -->
                <div class="col-sm-3 col-xs-6 xs-padding">
                    <div class="counter-box">
                        <h3 class="fz-35 fw-7 text-yellow"><span class="counter">200</span>+</h3>
                        <h4 class="text-white fw-7 no-margin">Happy Client</h4>
                    </div>
                </div><!-- counter 2 -->
                <div class="col-sm-3 col-xs-6 xs-padding">
                    <div class="counter-box">
                        <h3 class="fz-35 fw-7 text-yellow"><span class="counter">5000</span>+</h3>
                        <h4 class="text-white fw-7 no-margin">Hour Of work</h4>
                    </div>
                </div><!-- counter 3 -->
                <div class="col-sm-3 col-xs-6 xs-padding">
                    <div class="counter-box">
                        <h3 class="fz-35 fw-7 text-yellow"><span class="counter">15</span>+</h3>
                        <h4 class="text-white fw-7 no-margin">Award won</h4>
                    </div>
                </div><!-- counter 4 -->
            </div>
        </section><!-- counter-section -->

        <section class="testimonial-section pos-relative padding">
            <div class="bg-color bg-dark"></div>
            <div class="container">
                <div class="col-md-6 col-sm-6 xs-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                   <div class="review-box-4">
                       <h2 class="fw-7 text-white mb-40">Construction certification</h2>
                       <div class="testi-content mb-20">
                           <span class="rank text-white">1</span>
                           <h4 class="text-white fw-7">Safety</h4>
                           <p class="text-light fz-13">Safety is the most important of <br>our core values. It is our first priority.</p>
                       </div>
                       <div class="testi-content mb-20">
                           <span class="rank text-white">2</span>
                           <h4 class="text-white fw-7">Comunity</h4>
                           <p class="text-light fz-13">Involvement in and support of <br>the community are at the heart of us.</p>
                       </div>
                       <div class="testi-content mb-20">
                           <span class="rank text-white">3</span>
                           <h4 class="text-white fw-7">Integrity</h4>
                           <p class="text-light fz-13">We have operated with an unwavering <br>commitment honesty and integrity.</p>
                       </div>
                   </div> 
                </div>
                <div class="col-md-5 col-sm-6 xs-padding wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms"> 
                    <div class="testi-content">
                        <h2 class="mb-40 fw-7 xs-t-white">What people says</h2>
                        <div class="testi-carousel-2 owl-nav-2 owl-carousel">
                            <div class="review-item">
                                <div class="review-box-3 padding-25 bdrs-5 mb-35">
                                    <p class="no-margin">I’ve been happy with the services provided by Construction LLC. Scooter Libby has been wonderful! He has returned my calls quickly, We are pioneers in the Americal infrastructure industry.</p>
                                </div>
                                <div class="client-info">
                                   <img src="{% static 'img/testimonial-1.jpg' %}" alt="Clients" class="img-w-80">
                                    <h4 class="fz-14 fw-7 mb-5 xs-t-white">Magurate Hollen</h4>
                                     <ul class="rating">
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                    </ul>
                                </div>    
                            </div>
                            <div class="review-item">
                                <div class="review-box-3 padding-25 bdrs-5 mb-35">
                                    <p class="no-margin">I’ve been happy with the services provided by Construction LLC. Scooter Libby has been wonderful! He has returned my calls quickly, We are pioneers in the Americal infrastructure industry.</p>
                                </div>
                                <div class="client-info">
                                   <img src="{% static 'img/testimonial-2.jpg' %}" alt="Clients" class="img-w-80">
                                    <h4 class="fz-14 fw-7 mb-5 xs-t-white">Magurate Hollen</h4>
                                     <ul class="rating">
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                    </ul>
                                </div>
                            </div>
                             <div class="review-item">
                                <div class="review-box-3 padding-25 bdrs-5 mb-35">
                                    <p class="no-margin">I’ve been happy with the services provided by Construction LLC. Scooter Libby has been wonderful! He has returned my calls quickly, We are pioneers in the Americal infrastructure industry.</p>
                                </div>
                                <div class="client-info">
                                   <img src="{% static 'img/testimonial-3.jpg' %}" alt="Clients" class="img-w-80">
                                    <h4 class="fz-14 fw-7 mb-5 xs-t-white">Magurate Hollen</h4>
                                     <ul class="rating">
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                        <li><i class="ti-star text-yellow"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- testimonial block -->
        
        <section class="blog-section padding bg-grey bd-bottom">
            <div class="container">
                <div class="section-heading ml-15 mb-40">
                    <h2 class="fw-6">Our Latest News</h2>
                </div>
                <div class="blog-wrapper">
                    <div class="col-sm-4 col-xs-6 xs-padding">
                        <div class="article-box">
                            <img src="{% static 'img/news-1.jpg' %}" class="img-w1" alt="Blog-image">
                            <div class="entry-content mt-15">
                                <h4 class="fw-6">USING THE RIGHT MATERIALS.</h4>
                                <p class="fz-13">Learn about the best paper and materials to use for physical records and what not to use.</p>
                                <a href="" class="read-more fz-12 tt-u">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 xs-padding">
                        <div class="article-box">
                            <img src="{% static 'img/news-2.jpg' %}" class="img-w1" alt="Blog-image">
                            <div class="entry-content mt-15">
                                <h4 class="fw-6">DIGITAL TOOLS FOR YOUR BUSINESS.</h4>
                                <p class="fz-13">Digital tools can help your business grow by finding more customers, reaching new markets.</p>
                                <a href="" class="read-more fz-12 tt-u">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 xs-padding">
                        <div class="article-box">
                            <img src="{% static 'img/news-3.jpg' %}" class="img-w1" alt="Blog-image">
                            <div class="entry-content mt-15">
                                <h4 class="fw-6">CHOSSING THE RIGHT ARCHITECT.</h4>
                                <p class="fz-13">Ultimately you want to find the architect . don't feel limited to choosing your community.</p>
                                <a href="" class="read-more fz-12 tt-u">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- blog-section -->
        
        <div class="partner-block bg-yellow ptb-40">
            <div class="container">
                <div class="brand-carousel owl-carousel">
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/1.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/2.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/3.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/4.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/5.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/6.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/7.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/8.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/9.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/10.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/11.png' %}" alt="Brands"></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="{% static 'img/12.png' %}" alt="Brands"></a>
                    </div>
                </div>
            </div>
        </div><!-- partner block -->
        
		<section class="widget-section bd-top-dark padding bg-dark">
            <div class="container">
                <div class="col-sm-4 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <img class="mb-15" src="{% static 'img/logo-light.png' %}" alt="Construction">
                        <h4 class="text-light mb-25">Ultimate design for your websites</h4>
                        <p class="fz-13 mb-25 text-light">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.</p>
                    </div>
                </div><!-- widget 1 -->
                <div class="col-sm-5 col-xs-6 xs-padding">
                    <h4 class="text-white fw-7 mb-40">Company navigation</h4>
                    <ul class="list-1 angel mb-20">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Interior Design</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Recent Projects</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Construction</a></li>
                            <li><a href="#">Building Renovation</a></li>
                        </ul>
                </div><!-- widget 2 -->
                <div class="col-sm-3 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <h4 class="text-white fw-7 mb-30">Construction Office</h4>
                        <ul class="addr-info footer-addr text-light fz-14">
                            <li>Tottenh Road, London, England.</li>
                            <li>(102) 6666 8888</li>
                            <li>info@thememove.com</li>
                            <li>Mon - Sat: 9:00 - 18:00</li>
                        </ul>
                    </div>
                </div><!-- widget 3 -->
            </div>
        </section><!-- widget-section-1 -->
		
		<footer class="footer-section bg-dark text-center bd-top-dark ptb-40 tt-u">
            <div class="container">
                <p class="no-margin fz-13 text-light">&copy; Copyright 2017 Crack Themes - All Rights Reserved</p>
            </div>
        </footer><!--  footer section-1 -->

        <a data-scroll href="#header" id="scroll-top" class="scroll-to-top"><i class="ti-angle-up"></i></a>

        <!-- All Scripts -->
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/vendor/waypoints.min.js' %}"></script>
        <script src="{% static 'js/vendor/wow.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'js/vendor/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.isotope.v3.0.2.js' %}"></script>
        <script src="{% static 'js/vendor/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.swipebox.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.hoverdir.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.slicknav.min.js' %}"></script>
        <script src="{% static 'js/vendor/main.js' %}"></script>
    </body>
</html>
