{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Construction is ultimate responsive construction html template which include 3 homepage demos.">
        <title>ТУРАКУРГАНСКИЙ МЕХАНИЧЕСКИЙ ЗАВОД ПО ЛИТЬЁ</title>
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

        <!--  construct Icon CSS -->
        <link rel="stylesheet" href="{% static 'css/construct-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/elegant-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/swipebox.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body data-spy="scroll" data-target="#navbar" data-offset="60">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id='preloader' >
            <div class='loader' >
                <img src="{% static 'img/preloader.svg' %}" width="60" alt="">
            </div>
        </div><!-- Preloader -->
		
		<header id="header" class="header header-bd double-header">
            <div class="header-top header-bd ptb-10">
                <div class="container">
                    <div class="col-xs-12 text-right xs-text-center">
                        <ul class="top-info display-inline-block">
                            <li><i class="ti-headphone-alt"></i>+998 97 581 23 43</li>
                            <li><i class="ti-headphone-alt"></i>+79608041333</li>
                            <li><i class="ti-email"></i> <a href="mailto:info@domain.com">ulugbek.yuldashev.1966@mail.ru</a></li>
                        </ul>
                        <ul class="social-icon-white top-social hidden-xs display-inline-block">
                            <li><a href="www.facebook.com"><i class="ti-facebook"></i></a></li>
                            <li><a href="www.twitter.com"><i class="ti-twitter"></i></a></li>
                            <li><a href="www.google.com"><i class="ti-google"></i></a></li>
                            <li><a href="www.instagram.com"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-bottom ptb-10 pos-relative">
                <div class="container">
                    <div class="col-sm-3">
                        <div class="navbar-header">
                            <a href="#" class="brand"><img src="{{info.logo.url }}" alt="ТУРАКУРГАН"></a>
                        </div>
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <nav class="mainmenu pull-right">
                            <ul id="navi-menu">
                                <li class="current_page_item"><a href="{% url 'index' %}">Главная</a>
                                </li>
                                <li><a href="{% url 'about' %}">О нас</a>
                                </li>
                                <li><a href="{% url 'services' %}">Галерея</a>
                                </li>
                                <li><a href="{% url 'projects' %}">Продукты</a>
                                </li>
                                <li><a href="{% url 'blogs' %}">Новости</a>
                                </li>
                                <li><a href="{% url 'programmers' %}">Разработчики сайта</a>
                                </li>
                                <li><a href="{% url 'contact' %}">Связываться с нами</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header> <!-- Header -->
        
        <section class="slider-section">
            <div class="main-slider owl-carousel owl-nav-3 owl-dots-1">
                {% for i in slider%}
                <div class="slide-item bg-img height-670" style="background-image: url({{i.img.url}})">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="slider-content">
                                    <h1 class="fz-45 text-white fw-8 tt-u">{{i.title}}</h1>
                                    <p class="text-white mb-20 xs-br-none fz-16">{{i.text}}</p>
                                    <div class="btn-group-left">
                                        <a href="./static/Document.png" class="b-btn">УЗНАТЬ БОЛЬШЕ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}                
            </div>
        </section><!-- slider-section -->
        
        <section class="content-block padding bd-bottom bd-grey">
            <div class="container">
                <div class="col-sm-7 xs-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                    <div class="entry-content sm-no-padding ptb-30">
                        <h2 class="mb-20">Туракурганский МЕХАНИЧЕСКИЙ Вагоностроительный Завод основан в 1973  году</h2>
                        <p class="fz-14">Мы стремимся построить устойчивое будущее, поощряя дух сотрудничества, который создает исключительный опыт, сбалансированные отношения и улучшает созданную среду сообщества.</p>
                    </div>
                </div>
                <div class="col-sm-5 xs-padding wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
                    <div class="content-box bg-yellow padding-40">
                        <h4 class="text-white pb-5 bd-bottom-white">{{info.name}}</h4>
                        <ul class="addr-info text-white fz-13">
                            <li>{{info.location}}</li>
                            <li>{{info.phone_uz}}</li>
                            <li>{{info.phone_ru}}</li>
                            <li>{{info.phone_1}}</li>
                            <li>{{info.phone_2}}</li>
                            <li>{{info.email}}</li>
                            <li>{{info.timetable}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- about-section -->
        
        <section class="service-section bg-grey padding bd-bottom">
			<div class="container">
				<ul class="services-wrap">
					<li class="col-md-4 col-xs-6 ptb-15 wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
					{% for i in category %}	
					<div class="service-box">
  					    		<img src="{{i.logo.url}}" alt="Description of the image">                            
							<h4 class="fw-7">{{i.title}}</h4>
							<p class="fz-13">{{i.text}}</p>
						</div>
					</li>
					<li class="col-md-4 col-xs-6 ptb-15 wow zoomIn" data-wow-delay="0ms" data-wow-duration="1000ms">
						
					</li>
				</ul>
			</div>
		</section><!-- /.service section -->
		
        <section class="portfoio-section bd-bottom padding">
            <div class="container">
                <div class="row mb-40">
                    <div class="col-sm-6 xs-padding">
                        <h2 class="fw-7">ГАЛЕРЕЯ ПОСЛЕДНИХ СТРОИТЕЛЬНЫХ ПРОЕКТОВ </h2>
                    </div>
                </div>
                <div class="portfolio-items filter-items img-w1 row">
                    {% for i in product %}
                    <div class="col-sm-4 col-xs-6 single-item padding-10 architecture">
                        <div class="portfolio-box">
                            <img class="img-w1" src="{{i.img.url}}" alt="Portfolio Image">
                            <a href="{{i.img.url}}" class="overlay lightbox text-center">
                                <div class="display-table">
                                    <div class="table-cell padding-15">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block padding-25 ptb-15 bg-yellow">ДИЗАЙН ИНТЕРЬЕРА</h4>
                                        <p class="no-margin fz-14">{{i.name}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- portfolio-section -->
        
		<!-- <section class="content-block pos-relative padding bg-grey bd-bottom">
            <div class="bg-img-wrap wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
            </div>
            <div class="container">
                <div class="col-sm-6 col-sm-offset-6 xs-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                    <div class="padding-200">
                        <h2 class="mb-20">THE RESONS WHY YOU SHOULD <br>CHOOSE OUR COMPANY</h2>
                        <p class="mb-20">Construction personnel participate in ethics training as part of our best practices program, and each employee is provided with a skill set that helps them make the best decisions.</p>
                        <ul class="list-1 check fz-14 text-black mb-20">
                            <li>We Are Creative.</li>
                            <li>Honest And Dependable.</li>
                            <li>Water Wells 14 Jully</li>
                            <li>We Are Always Improving.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>content-block -->
        
        <section class="testimonial-section padding bd-bottom">
            <div class="container">
                <div class="section-heading pb-5 mb-40">
                    <h2>ЧТО ЛЮДИ ДУМАЮТ О НАС</h2>
                </div>
                <div class="testi-carousel owl-nav-1 owl-carousel">
                    {% for i in client %}
                    <div class="review-box padding-20 ptb-40 bg-grey bd">
                        <p class="fz-13">{{i.idea}}</p>
                        <h4 class="display-inline-block">{{i.name}}</h4>
                        <ul class="rating display-inline-block">
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                            <li><i class="ti-star text-yellow"></i></li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- testimonial-section -->
        
        <section class="blog-section padding bg-grey bd-bottom">
            <div class="container">
                <div class="section-heading ml-15 mb-40">
                    <h2>НАШИ ПОСЛЕДНИЕ ПРОДУКТЫ</h2>
                </div>
                <div class="blog-wrapper">
                    {% for i in product3 %}
                    <div class="col-sm-4 col-xs-6 xs-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="article-box">
                            <img src="{{i.img.url}}" class="img-w1" alt="Blog-image">
                            <div class="entry-content mt-15">
                                <h4>{{i.name}}</h4>
                                <p class="fz-13">{{i.description}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- blog-section -->
        
        {% comment %} <div class="partner-block ptb-40">
            <div class="container">
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/1.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/2.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/3.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/4.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/5.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/6.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/7.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/8.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/9.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/10.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/11.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">     
                    <div class="brand-item padding-10">
                        <a href="#"><img src="{% static 'img/12.png' %}" class="img-w1" alt="Brands"></a>
                    </div>
                </div>
            </div>
        </div><!-- partner block --> {% endcomment %}
        
        <section class="cta-section text-center bg-yellow ptb-40">
            <div class="container">
                <h2 class="text-white fz-18 no-margin display-inline-block">ПОЛУЧИТЕ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ И СМЕТУ ДЛЯ ВАШЕГО ПРОЕКТА</h2>
                <a href="{% url 'contact' %}" class="b-btn btn-white btn-border ml-15">Связаться</a>
            </div>
        </section><!-- cta-section -->
        
		<section class="widget-section bd-top-dark padding bg-dark">
            <div class="container">
                <div class="col-sm-4 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <img class="mb-15" src="{{info.logo.url}}" alt="Construction">
                        <h4 class="text-light mb-25">Превосходный продукт для вашего строительства</h4>
                        <p class="fz-13 mb-25 text-light">Позвоните нам или зайдите в любое время, мы постараемся ответить на все запросы в течении 24 часов в рабочих дней.</p>
                    </div>
                </div><!-- widget 1 -->
                <div class="col-sm-5 col-xs-6 xs-padding">
                    <h4 class="text-white mb-40">Навигация по компании</h4>
                    <ul class="list-1 angel mb-20">
                            <li><a href="{% url 'index' %}">Главная</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                            <li><a href="{% url 'projects' %}">Недавние Проекты</a></li>
                            <li><a href="{% url 'services' %}"> СЕРВИСЫ</a></li>
                            <li><a href="{% url 'blogs' %}">НОВОСТИ</a></li>
                            <li><a href="{% url 'contact' %}"> СВЯЗЫВАТЬСЯ С НАМИ</a></li>
                        </ul>
                </div><!-- widget 2 -->
                <div class="col-sm-3 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <h4 class="text-white mb-30">{{info.name}}</h4>
                        <ul class="addr-info footer-addr text-light fz-14">
                            <li>{{info.location}}</li>
                            <li>{{info.phone_uz}}</li>
                            <li>{{info.phone_ru}}</li>
                            <li>{{info.email}}</li>
                            <li>{{info.timetable}}</li>
                        </ul>
                    </div>
                </div><!-- widget 3 -->
            </div>
        </section><!-- widget-section -->
		
		<footer class="footer-section bg-dark text-center bd-top-dark ptb-40 tt-u">
            <div class="container">
                <p class="no-margin fz-13 text-light">&copy; Copyright 2024 - All Rights Reserved</p>
            </div>
        </footer><!--  footer section -->

        <a data-scroll href="#header" id="scroll-top" class="scroll-to-top"><i class="ti-angle-up"></i></a>

        <!-- All Scripts -->
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/vendor/waypoints.min.js' %}"></script>
        <script src="{% static 'js/vendor/wow.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'js/vendor/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.isotope.v3.0.2.js' %}"></script>
        <script src="{% static 'js/vendor/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.swipebox.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.hoverdir.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.slicknav.min.js' %}"></script>
        <script src="{% static 'js/vendor/main.js' %}"></script>
    </body>
</html>
