<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Construction is ultimate responsive construction html template which include 3 homepage demos.">
        <title>Construction - Ultimate Responsive Construction Template</title>
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

        <!--  construct Icon CSS -->
        <link rel="stylesheet" href="css/construct-icons.css">
        <!-- themify Icon CSS -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="css/animate.min.css">
        <!-- Elegant Icons CSS -->
        <link rel="stylesheet" href="css/elegant-line-icons.css">
        <!-- Bootsrtap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <!-- Slick Nav CSS -->
        <link rel="stylesheet" href="css/slicknav.min.css">
        <!-- Swipebox CSS -->
        <link rel="stylesheet" href="css/swipebox.min.css">
        
        <!-- Theme CSS -->
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body data-spy="scroll" data-target="#navbar" data-offset="60">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <header id="header" class="header hide-top header-bd double-header">
            <div class="header-top header-bd ptb-10">
                <div class="container">
                    <div class="col-xs-12 text-right xs-text-center">
                        <ul class="top-info display-inline-block">
                            <li><i class="ti-headphone-alt"></i> (102) 6666 8888</li>
                            <li><i class="ti-email"></i> <a href="mailto:info@domain.com">info@domain.com</a></li>
                        </ul>
                        <ul class="social-icon-white top-social hidden-xs display-inline-block">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-google"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-bottom ptb-10 pos-relative">
                <div class="container">
                    <div class="col-sm-3">
                        <div class="navbar-header">
                            <a href="#" class="brand"><img src="img/logo-light.png" alt="Construction"></a>
                        </div>
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <div class="pull-right">
                            <a href="#" class="b-nav-btn">Book Us</a>
                        </div>
                        <nav class="mainmenu pull-right">
                            <ul id="navi-menu">
                                <li class="current_page_item"><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home Default</a></li>
                                        <li><a href="index-dark.html">Home Dark</a></li>
                                        <li><a href="index-light.html">Home Light</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About us</a>
                                    <ul>
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="about-light.html">About Light</a></li>
                                        <li><a href="about-dark.html">About Dark</a></li>
                                    </ul>
                                </li>
                                <li><a href="service.html">Services</a>
                                    <ul>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="service-light.html">Service Light</a></li>
                                        <li><a href="service-dark.html">Service Dark</a></li>
                                    </ul>
                                </li>
                                <li><a href="project-3-col.html">Projects</a>
                                    <ul>
                                        <li><a href="project-3-col.html">Projects 3 Col</a></li>
                                        <li><a href="project-2-col.html">Projects 2 Col</a></li>
                                        <li><a href="project-details.html">Projects Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-sidebar-right.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-sidebar-right.html">Blog Sidebar Right</a></li>
                                        <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
                                        <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                        <li><a href="blog-single-right.html">Blog Single Right</a></li>
                                        <li><a href="blog-single-left.html">Blog Single Left</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact Us</a>
                                    <ul>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="contact-with-map.html">Contact With Map</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header> <!-- Header -->
        
        <section class="page-heading height-500" style="background-image: url(img/project-hero.jpg)">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="hero-content">
                            <h2 class="fz-40 text-white fw-8 mb-15">CONSTRUCTION PROJECTS</h2>
                            <p class="text-white fz-16">We offer free consulting and the best project management <br>for your ideas, 100% delivery guaranteed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Page Heading -->
		
        <section id="portfolio" class="portfoio-section bd-bottom padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="section-heading mb-40">
                            <h2 class="fw-7">CONSTRUCTION RECENT PROJECTS</h2>
                        </div><!-- section-heading -->
                    </div>
                    <div class="col-sm-6">
                        <ul class="filter-menu pull-right mb-40">
                            <li class="active" data-filter="*">All Projects</li>
                            <li data-filter=".architecture"> Architecture</li>
                            <li data-filter=".construction"> Construction</li>
                            <li data-filter=".Interior"> Interior Design</li>
                        </ul><!-- /.filter-menu -->
                    </div>
                </div>
                <div class="portfolio-items filter-items row">
                    <div class="col-sm-4 col-xs-6 single-item padding-10 architecture">
                        <div class="portfolio-box">
                            <img class="img-w1" src="img/project-1.jpg" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource <br>for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 single-item padding-10 construction">
                        <div class="portfolio-box">
                            <img class="img-w1" src="img/project-2.jpg" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block bdrs-3 padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource <br>for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 single-item padding-10 architecture">
                        <div class="portfolio-box">
                            <img class="img-w1" src="img/project-3.jpg" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block bdrs-3 padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource <br>for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 single-item padding-10 construction">
                        <div class="portfolio-box">
                            <img class="img-w1" src="img/project-4.jpg" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block bdrs-3 padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource <br>for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 single-item padding-10 architecture">
                        <div class="portfolio-box">
                            <img class="img-w1" src="img/project-5.jpg" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block bdrs-3 padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource <br>for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 single-item padding-10 Interior">
                        <div class="portfolio-box">
                            <img class="img-w1" src="img/project-6.jpg" alt="Portfolio Image">
                            <a href="project-details.html" class="overlay text-center">
                                <div class="display-table">
                                    <div class="table-cell">
                                        <h4 class="mb-10 fz-16 text-white display-inline-block bdrs-3 padding-25 ptb-15 bg-yellow">Interior Design</h4>
                                        <p class="no-margin fz-14">Interior Design is the definitive resource <br>for interior designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- portfolio-section -->
        
        <section class="cta-section bg-img height-500" style="background-image: url(img/cta-bg.jpg)">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="hero-content">
                            <h2 class="fz-40 text-white fw-8 mb-15">We Provide Ultimate <br>Construction Services</h2>
                            <p class="text-white fz-16">We offer free consulting and the best project management <br>for your ideas, 100% delivery guaranteed.</p>
                            <a href="#" class="b-btn">Book Us Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Cta-section -->
        
        <section class="cta-section text-center bg-yellow ptb-40">
            <div class="container">
                <h2 class="text-white fz-18 no-margin display-inline-block">GET YOUR FREE CONSULTING AND ESTIMATE FOR YOUR PROJECT</h2>
                <a href="#" class="b-btn btn-white btn-border ml-15">Explore</a>
            </div>
        </section><!-- cta-section -->
        
        <section class="widget-section bd-top-dark padding bg-dark">
            <div class="container">
                <div class="col-sm-4 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <img class="mb-15" src="img/logo-light.png" alt="Construction">
                        <h4 class="text-light mb-25">Ultimate design for your websites</h4>
                        <p class="fz-13 mb-25 text-light">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.</p>
                    </div>
                </div><!-- widget 1 -->
                <div class="col-sm-5 col-xs-6 xs-padding">
                    <h4 class="text-white mb-40">Company navigation</h4>
                    <ul class="list-1 angel mb-20">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Interior Design</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Recent Projects</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Construction</a></li>
                            <li><a href="#">Building Renovation</a></li>
                        </ul>
                </div><!-- widget 2 -->
                <div class="col-sm-3 col-xs-6 xs-padding">
                    <div class="widget-box">
                        <h4 class="text-white mb-30">Construction Office</h4>
                        <ul class="addr-info footer-addr text-light fz-14">
                            <li>Tottenh Road, London, England.</li>
                            <li>(102) 6666 8888</li>
                            <li>info@thememove.com</li>
                            <li>Mon - Sat: 9:00 - 18:00</li>
                        </ul>
                    </div>
                </div><!-- widget 3 -->
            </div>
        </section><!-- widget-section -->
        
        <footer class="footer-section bg-dark text-center bd-top-dark ptb-40 tt-u">
            <div class="container">
                <p class="no-margin fz-13 text-light">&copy; Copyright 2017 Crack Themes - All Rights Reserved</p>
            </div>
        </footer><!--  footer section -->

        <a data-scroll href="#header" id="scroll-top" class="scroll-to-top"><i class="ti-angle-up"></i></a>

        <!-- All Scripts -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/vendor/waypoints.min.js"></script>
        <script src="js/vendor/wow.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/jquery.nicescroll.min.js"></script>
        <script src="js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="js/vendor/owl.carousel.min.js"></script>
        <script src="js/vendor/jquery.isotope.v3.0.2.js"></script>
        <script src="js/vendor/smooth-scroll.min.js"></script>
        <script src="js/vendor/jquery.counterup.min.js"></script>
        <script src="js/vendor/jquery.swipebox.min.js"></script>
        <script src="js/vendor/jquery.hoverdir.js"></script>
        <script src="js/vendor/jquery.slicknav.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>